<div class="main-container">

    <div class="header-container">
        <span class="emp-detail">Employee Details</span>
        <div class="add-content">
            <img src="assets/icons/search.jpg" alt="search icon">
            <button class="add-button" routerLink="/register" mat-raised-button>+ Add User</button>
        </div>
    </div>

    
    <div class="main-table">
        <table class="table">
                <tr>
                    <th class="H-name">NAME</th>
                    <th class="H-gender">GENDER</th>
                    <th class="H-department">DEPARTMENT</th>
                    <th class="H-salary">SALARY</th>
                    <th class="H-date">START DATE</th>
                    <th class="H-actions">ACTIONS</th>
                </tr>
        </table>
        <table class="content-table">
            <tr *ngFor="let employee of employees;" >
                <td class="profile-image"><img src={{employee.image}} alt=""></td>
                <td class="name">{{employee.name | uppercase}}</td>
                <td class="gender">{{employee.gender | uppercase}}</td>
                <td class="department">{{employee.department}}</td>
                <td class="salary">{{employee.salary | currency : 'INR'}}</td>
                <td class="date">{{employee.startDate | date : 'dd MMMM yyyy'}}</td>
                <td class="actions">
                    <img class="delete" (click)="deleteEmployee(employee.name)" src="../assets/icons/delete-black-18dp.svg" alt="delete" >
                    <img class="edit" src="../assets/icons/create-black-18dp.svg" alt="edit">
                </td>
            </tr>
        </table>
    </div>