<div class="main-container">

    <div class="header-container">
        <span class="emp-detail">Employee Details</span>
        <div class="add-content">
            <img src="assets/icons/search.jpg" alt="search icon">
            <button class="add-button" routerLink="/register" mat-raised-button>+ Add User</button>
        </div>
    </div>

    
    <div class="main-table">
        <table class="table">
                <tr>
                    <th class="H-name">NAME</th>
                    <th class="H-gender">GENDER</th>
                    <th class="H-department">DEPARTMENT</th>
                    <th class="H-salary">SALARY</th>
                    <th class="H-date">START DATE</th>
                    <th class="H-actions">ACTIONS</th>
                </tr>
        </table>
        <table class="content-table">
            <tr *ngFor="let employee of employees;" >
                <td class="profile-image"><img src={{employee.image}} alt=""></td>
                <td class="name">{{employee.employeeName | uppercase}}</td>
                <td class="gender">{{employee.gender | uppercase}}</td>
                <td class="department">{{employee.department}}</td>
                <td class="salary">{{employee.salary | currency : 'INR'}}</td>
                <td class="date">{{employee.date | date : 'dd MMMM yyyy'}}</td>
                <td class="actions">
                    <button mat-icon-button color="warn" (click)="deleteEmployee(employee.employeeId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="editEmployee(employee)" >
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>