.main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 600px);
    padding: 30px 0 10px;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 20px;
    opacity: 1;
    margin-right: 15px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.add-button {
    background-color: #82a70c;
    height: 30px;
}

.emp-detail {
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 63%;
}

