.main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 600px);
    padding: 30px 0 10px;
    box-sizing: border-box;
    justify-content: center;
}

img {
    width: 50px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 20px;
    opacity: 1;
    margin-right: 15px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.add-button {
    background-color: #82a70c;
    height: 30px;
}

.emp-detail {
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 63%;
}

.table{
    margin-top: 40px;
    margin-left: 0px;
    width: 74%;
    height: 40px;
    /* UI Properties */
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    opacity: 1
}

th {
    color: white;
}

.main-table {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content-table {
    margin-left: 0px;
    margin-bottom: 1px;
    width: 74%;
    height: 40px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #d4d1d1;
    opacity: 1;
}

/* .row-border{
   
} */

.profile-image {
    margin-left: 5px;
    width: 5px;
    height: 26px
}

.name {
    text-align: left;
    margin-left: 10px;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    width: 26%;
}

.department {
    text-align: center;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    text-transform: capitalize;
    opacity: 1;
    width: 15%;

}

.gender {
    margin-left: 50px;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    width: 7%;
}

.salary{
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    width: 15%;
}

.date {
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    width: 14%;
}

.delete {
    opacity: 1;
}

.edit {
    
    opacity: 1;
}

.align {
    display: flex;
    justify-content: row;
} 

.actions {
    text-align: center;
}

.H-name {
    width: 30%;
}

.H-gender {
    width: 7%;
}

.H-department {
    width: 15%;
}

.H-salary {
    width: 12%;
}

.H-date {
    width: 15%;
}

.H-actions {
    width: 15%;
}



