
<!-- <div>Form Value : {{employeeform.value | json}}</div> -->
<div class="container">
    <!-- #employeeform = 'ngForm' -->
    <form [formGroup]="employeeForm" class="form">                             
        <div class="form-header">Employee Payroll From</div>

        <div class="form-content">
            
            <!-- Creating name section in form -->
            <mat-label class="main-tag">Name</mat-label>
            <mat-form-field class="width ml" appearance="outline">
                <input type="text" matInput formControlName="employeeName">
            </mat-form-field>

            <br>
            <br>

            <!-- Creating profile image selection section in form -->
            <mat-label class="main-tag">Profile image</mat-label>
            <mat-radio-group class="profile-ml" formControlName="image">
                <mat-radio-button color="primary" value="assets/profile-images/Ellipse -1.png">
                    <img class="profile" src="assets/profile-images/Ellipse -1.png" alt="1">
                </mat-radio-button>

                <mat-radio-button style="margin-left: 10px;" color="primary" value="assets/profile-images/Ellipse -2.png">
                    <img class="profile" src="assets/profile-images/Ellipse -2.png" alt="2">
                </mat-radio-button>

                <mat-radio-button style="margin-left: 10px;" color="primary" value="assets/profile-images/Ellipse -3.png">
                    <img class="profile" src="assets/profile-images/Ellipse -3.png" alt="3">
                </mat-radio-button>

                <mat-radio-button style="margin-left: 10px;" color="primary" value="assets/profile-images/Ellipse -4.png">
                    <img class="profile" src="assets/profile-images/Ellipse -4.png" alt="4">
                </mat-radio-button>
            </mat-radio-group>

            <br>
            <br>
            <br>

            <!-- Creating gender selection section -->

            <mat-label class="main-tag">Gender</mat-label>
            <mat-radio-group class="Gender-ml" formControlName="gender">
                <mat-radio-button color="primary" value="Male">
                    <mat-label class="text">Male</mat-label>
                </mat-radio-button>

                <mat-radio-button style="margin-left: 33px;" color="primary" value="Female">
                    <mat-label class="text">Female</mat-label>
                </mat-radio-button>
            </mat-radio-group>

            <br>
            <br>
            <br>

            <!-- Creating Department selection section -->
        
            <mat-label class="main-tag">Department</mat-label>
            <mat-radio-group class="department-ml" formControlName="department">
                <mat-radio-button color="primary" value="HR">
                    <mat-label>HR</mat-label>
                </mat-radio-button>

                <mat-radio-button style="margin-left: 20px;" color="primary" value="Sales">
                    <mat-label>Sales</mat-label>
                </mat-radio-button>

                <mat-radio-button style="margin-left: 20px;" color="primary" value="Finance">
                    <mat-label>Finance</mat-label>
                </mat-radio-button>

                <mat-radio-button style="margin-left: 20px;" color="primary" value="Engineer">
                    <mat-label>Engineer</mat-label>
                </mat-radio-button>

                <mat-radio-button style="margin-left: 20px;" color="primary" value="Other">
                    <mat-label>Other</mat-label>
                </mat-radio-button>
            </mat-radio-group>            

            <br>
            <br>
    
            <!-- Creating salary selection section -->
    
            <mat-label class="main-tag">Salary</mat-label>
            <mat-slider
                    formControlName="salary"
                    color="primary"
                    class="salary-ml"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1000"
                    step="1000"
                    min="1000"
                    max="100000">
            </mat-slider>
    
            <br>
            <br>
    
            <!-- Creating Start date selection section -->
    
            <mat-label class="main-tag">Start Date</mat-label>
            <mat-form-field class="date-ml" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            
            <br> 
            <br>
    
            <!-- Creating Note section -->
    
            <mat-label class="main-tag">Note</mat-label>
            <mat-form-field class="Note-ml" appearance="outline">
                <textarea matInput class="input" style="height:40px" formControlName="note"></textarea>
            </mat-form-field>
    
            <br>
    
            <div class="button-flex">
                <button class="cancel" routerLink="/dashboard" mat-raised-button>Cancel</button>
    
                <div class="right-buttons">
                    <button class="submit"  (click)="insert()" type="submit" mat-raised-button>Submit</button>
                    <button class="reset" type="reset"mat-raised-button >Reset</button>
                </div>
    
            </div>
        </div> 
    </form>
</div>
